<h1>Roadmap</h1>

<button (click)="getRoadmap()">Get Roadmap</button>

<ul *ngIf="roadmap">
  <li *ngFor="let item of roadmap">
    {{ item.technology }} - {{ item.theme }}

    <button (click)="deleteRoadmap(item.id)">Delete</button>
    <button (click)="editRoadmap(item.id)">Edit</button>
  </li>
</ul>

<form *ngIf="editingId !== null" (submit)="saveRoadmap()">
  <input [(ngModel)]="editingRoadmap.technology" name="technology" placeholder="Technology" />
  <input [(ngModel)]="editingRoadmap.theme" name="theme" placeholder="Theme" />
  
  <button type="submit">Save</button>
</form>

<input [(ngModel)]="newRoadmap.technology" placeholder="New Technology" />
<input [(ngModel)]="newRoadmap.theme" placeholder="New Theme" />
<button (click)="createRoadmap()">Create</button>
